:root {
  --main-color: black;
  --strong-color: darkolivegreen;
  --dim-color: dimgray;
}

body {
  font-family: Helvetica;
  padding: 2em 6em;
  color: var(--main-color);
  font-size: 14px;
}

h1 {
  display: flex;
  justify-content: center;
  color: var(--strong-color);
  margin-bottom: 0;
}

.personal-details {
  display: flex;
  justify-content: center;
  font-size: large;
}

h2 {
  font-size: 16px;
  color: var(--strong-color);
  border-bottom: 1px solid var(--strong-color);
  margin-top: 1.5em;
}

h4 {
  margin-bottom: 12px;
}

h6 {
  font-size: medium;
  color: var(--dim-color);
  margin: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 5px;
}

.experience {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-weight: bold;
}

.experience .job-title {
  width: 200px;
}

.experience .company {
  flex: auto;
  padding-left: 100px;
}

em {
  color: var(--dim-color);
}

a {
  color: var(--dim-color);
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 1em 2em;
  }

  h6 {
    display: flex;
    flex-direction: column;
  }
}