:root {
  --main-color: black;
  --title-color: firebrick;
  --bar-color: #ccc;
  --strong-color: chocolate;
  --dim-color: dimgray; 
}

body {
  font-family: Helvetica;
  padding: 2em 6em;
  color: var(--main-color);
}

h1, h2 {
  color: var(--title-color);
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid var(--bar-color);
  margin-top: 1.5em;
}

h6 {
  font-size: medium;
  color: var(--dim-color);
  margin: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 5px;
}

strong {
  color: var(--strong-color);
}

em {
  color: var(--dim-color);
}

a {
  color: var(--dim-color);
}
